html, body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  background-image:url('https://s3.amazonaws.com/codecademy-content/projects/junction/bg.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

.container {
  max-width:940px;
}

/* Header */
.header {
  padding: 10px 0;
  background-color:rgba(0,0,0,.5);
  height:60px;
}
.logo{
height:36px;
  width:36px;
}
.nav {
display:inline-block;
  margin-left:15px;
}
.nav li{
display:inline-block;
  margin-left:15px;
  color:#FFF;
}
.nav li a{
color:#FFF;
}
.nav a:hover{
color:black;
 border-radius:5px;
}
/* Jumbotron */
.jumbotron {
  position: relative;
  top: 50px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
  background:transparent;
  color:#FFF;
  text-align:center;
}
.jumbotron h1{
font-size:50px;

}

/* Supporting */
.supporting {
  margin-top: 40px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
  color:#FFF;
  text-align:center;
}
.supporting .row img{
height:120px;
  width:120px;
  display:inline;
  margin-left:50px;
}
.supporting h2,p{
margin-left:50px;
}
.btn{
background-color:rgba(0,255,188,0.5);
  padding:10px 50px;
  margin-left:50px;
}
.btn a{
text-decoration:none;
  color:#FFF;
}
.btn:hover{
 background:rgba(0,0,0,.5);
}
