html, body {
  background-color: #cccdce;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #fff;
  height: 140px;
  text-align: center;
}

.header h1 {
  color: #31363d;
  font-size: 32px;
  margin: 0px auto;
 text-transform:uppercase;
  position:relative;
  padding-top:44px;
}

.nav{
margin-top:15px;
}

.nav ul {
  margin: 0 0 30px;
  text-align: center;
}

.nav li {
  color:#FFF;
  display:inline;
  padding: 0px 10px;
   text-transform:uppercase;
}

.nav li:hover {
  color: #31363d;
  cursor: pointer;
  transition: color 1s;
}
.row {
  margin-top: 30px;
}
@media (max-width: 600px) {
  .row {
    margin-top: 0px;
  }
  .img-responsive{
    margin-top:20px;
  }
}

.footer{
  font-size:10px;
  margin-top:20px;
  text-align:right;
  margin-bottom:100px;
  text-transform:uppercase;
  padding-right:20px;
}
